* {
    box-sizing: border-box;
}

input {
    text-transform: none;
    /* 대문자 변환 방지 */
}


body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FFF230;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-top: -90px;
}

.login-container h1 {
    text-align: center;
    color: #3b3b3bff;
    margin-bottom: 30px;
    font-size: 28px;
}

.login-container label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

.login-container input {
    width: 100%;
    padding: 14px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #2b2b2bff;
    border: none;
    color: #ffffffff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button:hover {
    background-color: #FFF230;
}

.login-container .signup-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.login-container .signup-link a {
    color: #0070f3;
    text-decoration: none;
}

.login-container .signup-link a:hover {
    text-decoration: underline;
}